.hover-effect {
  transition: transform 0.2s;
}

.hover-effect:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

:host ::ng-deep .jogo-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  height: 100%;
  width: 100%;
}

:host ::ng-deep  .card-img {
   width: 100%;
  height: 180px; /* ou 200px, ajuste conforme preferir */
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  display: block;
  margin: 0;
  background: #222;
  box-shadow: none;
}

:host ::ng-deep  .card-game {
  display: flex;
  position: relative;
  overflow: hidden;
  background: #212529; /* bg-dark */
  color: #000000;         /* text-light */
  box-shadow: 0 2px 8px rgba(0,0,0,0.15); /* shadow-sm */
  width: 225px;
  height: 270px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: box-shadow 0.2s;
  border: 1px solid #212529;
}

.rank-container {
  display: flex;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(7, 6, 6, 0.1);
}

.rank-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 100%
}

.rank-item-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;/* ou center */
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.rank-item-container:last-child {
  border-bottom: none;
}

.rank-item {
  display: flex;
  align-items: center;
  position: relative; /* Adicione isso! */
}

/* Badge do número */
.rank-position {
  position: absolute;
  top: 10px;
  left: 10px;      /* volta pro canto esquerdo */
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px solid gray;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  user-select: none;
  z-index: 10;

  /* Centraliza o número dentro do círculo */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ouro - 1º lugar */
.rank-item-container:nth-child(1) .rank-position {
  border-color: #FFD700; /* Dourado */
  color: #000;
  background-color: rgba(252, 240, 171, 0.95);
}

/* Prata - 2º lugar */
.rank-item-container:nth-child(2) .rank-position {
  border-color: #6d6d6d; /* Prata */
  color: #000;
  background-color: rgba(194, 194, 194, 0.95);
}

/* Bronze - 3º lugar */
.rank-item-container:nth-child(3) .rank-position {
  border-color: #cd7f32; /* Bronze */
  color: #000;
  background-color: rgba(250, 195, 113, 0.95);
}