<div class="card-game">
  <a [routerLink]="routerLink" class="jogo-link">
    <img [src]="jogo.imagemJogo" class="card-img" alt="{{ jogo.nomeJogo }}" />
    <div class="card-body">
      <h5 class="card-title">{{ jogo.nomeJogo }}</h5>
      <p
        class="card-text"
        *ngIf="jogo.totalNotaJogo !== undefined; else notaUsuario"
      >
        Nota:
        {{ 
          jogo.totalNotaJogo !== undefined && jogo.totalNotaJogo !== null
          ? jogo.totalNotaJogo
          : "N/A" 
        }}
      </p>
      <ng-template #notaUsuario>
        <p class="card-text">
          Nota do usuário:
          {{
            jogo.notaUsuario !== undefined && jogo.notaUsuario !== null
              ? jogo.notaUsuario
              : "N/A"
          }}
        </p>
      </ng-template>
      <p class="card-text">
        <span *ngFor="let plataforma of jogo.plataformas; let last = last">
          {{ plataforma.nomePlataforma || plataforma
          }}<span *ngIf="!last">, </span>
        </span>
      </p>
    </div>
  </a>
</div>
