<div class="container mt-4">
  <h1 class="text-center text-dark mb-5">Administração</h1>

  <div class="AlternarOp">
    <div class="Legal">
      <select name="" class="Selecionar">
        <div class="Option">
          <option value="">Gerenciar Jogos</option>
          <option value="">Gerenciar Usuários</option>
        </div>
      </select>
    </div>

    <div class="ButoesAd gap-4">
      <button
        class="AdicionarJogo"
        data-bs-toggle="modal"
        data-bs-target="#modalAdicionar"
      >
        Adicionar Jogo
      </button>
      <button
        class="DeletarJogo"
        data-bs-toggle="modal"
        data-bs-target="#modalDeletar"
      >
        Deletar Jogo
      </button>
    </div>
  </div>

  <table class="table mt-4 table-striped table-bordered">
    <thead>
      <tr>
        <th class="col-md-1">Nome</th>
        <th class="col-md-2">Sinopse</th>
        <th class="col-md-1">Data</th>
        <th class="col-md-2">Modos</th>
        <th class="col-md-2">Generos</th>
        <th class="col-md-1">Plataformas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jogo of jogos">
        <td>{{ jogo.nomeJogo }}</td>
        <td>{{ jogo.sinopseJogo }}</td>
        <td>{{ jogo.dataLancamentoJogo | date }}</td>
        <td>
          <p>
            <span *ngFor="let modo of jogo.modos; let last = last">
              {{ modo.nomeModo }}<span *ngIf="!last">, </span></span
            >
          </p>
        </td>
        <td>
          <p class="card-text">
            <span *ngFor="let genero of jogo.generos; let last = last">
              {{ genero.nomeGenero || genero }}<span *ngIf="!last">, </span>
            </span>
          </p>
        </td>
        <td>
          <p class="card-text">
            <span *ngFor="let plataforma of jogo.plataformas; let last = last">
              {{ plataforma.nomePlataforma || plataforma
              }}<span *ngIf="!last">, </span>
            </span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div
    class="modal fade"
    id="modalAdicionar"
    tabindex="-1"
    aria-labelledby="modalAdicionar"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAdicionar">
            Adicionar Jogo
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="adicionarJogo()">
            <div class="form-group mb-2">
              <label for="nome">Nome do Jogo:</label>
              <input
                type="text"
                class="form-control"
                id="nome"
                [(ngModel)]="nomeJogo"
                name="nomeJogo"
              />
            </div>

            <div class="form-group mb-2">
              <label for="sinopse">Sinopse:</label>
              <input
                type="text"
                class="form-control"
                id="sinopse"
                [(ngModel)]="sinopseJogo"
                name="sinopseJogo"
              />
            </div>

            <div class="form-group mb-2">
              <label for="imagem">URL da Imagem:</label>
              <input
                type="text"
                class="form-control"
                id="imagem"
                [(ngModel)]="imagemJogo"
                name="imagemJogo"
              />
            </div>

            <div class="form-group mb-2">
              <label for="data">Data de Lançamento:</label>
              <input
                type="date"
                class="form-control"
                id="data"
                [(ngModel)]="dataLancamentoJogo"
                name="dataLancamentoJogo"
              />
            </div>

            <div class="form-group mb-2">
              <label for="distribuidora">ID Distribuidora:</label>
              <input
                type="number"
                class="form-control"
                id="distribuidora"
                [(ngModel)]="distribuidora"
                name="distribuidora"
              />
            </div>

            <div class="form-group mb-2">
              <label for="desenvolvedora">ID Desenvolvedora:</label>
              <input
                type="number"
                class="form-control"
                id="desenvolvedora"
                [(ngModel)]="desenvolvedora"
                name="desenvolvedora"
              />
            </div>

            <div class="form-group mb-2">
              <label for="modos">Modos (separados por vírgula):</label>
              <input
                type="text"
                class="form-control"
                id="modos"
                [(ngModel)]="modos"
                name="modosTexto"
              />
            </div>

            <div class="form-group mb-2">
              <label for="plataformas"
                >Plataformas (separadas por vírgula):</label
              >
              <input
                type="text"
                class="form-control"
                id="plataformas"
                [(ngModel)]="plataformas"
                name="plataformasTexto"
              />
            </div>

            <div class="form-group mb-2">
              <label for="generos">Gêneros (separados por vírgula):</label>
              <input
                type="text"
                class="form-control"
                id="generos"
                [(ngModel)]="generos"
                name="generosTexto"
              />
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">
              Adicionar Jogo
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
