<div class="container mt-4">
  <h1 class="text-center text-dark mb-5">Administração</h1>

  <div class="AlternarOp">
    <div class="Legal">
      <select name="" class="Selecionar">
        <div class="Option">
          <option value="">Gerenciar Jogos</option>
          <option value="">Gerenciar Usuários</option>
        </div>
      </select>
    </div>

    <div class="ButoesAd gap-4">
      <button class="btn btn-primary" (click)="abrirModal()">
        Adicionar Jogo
      </button>

      <button
        class="DeletarJogo"
        data-bs-toggle="modal"
        data-bs-target="#modalDeletar"
      >
        Deletar Jogo
      </button>
    </div>
  </div>

  <table class="table mt-4 table-striped table-bordered">
    <thead>
      <tr>
        <th class="col-md-1">Editar Jogo</th>
        <th class="col-md-1">Nome</th>
        <th class="col-md-2">Sinopse</th>
        <th class="col-md-1">Data</th>
        <th class="col-md-2">Modos</th>
        <th class="col-md-2">Generos</th>
        <th class="col-md-1">Plataformas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jogo of jogos">
        <td>
          <button
            class="btn btn-dark btn-sm"
            (click)="abrirModalEditar(jogo)">
          </button>
        </td>
        <td>{{ jogo.nomeJogo }}</td>
        <td>{{ jogo.sinopseJogo }}</td>
        <td>{{ jogo.dataLancamentoJogo | date }}</td>
        <td>
          <p>
            <span *ngFor="let modo of jogo.modos; let last = last">
              {{ modo.nomeModo }}<span *ngIf="!last">, </span></span
            >
          </p>
        </td>
        <td>
          <p class="card-text">
            <span *ngFor="let genero of jogo.generos; let last = last">
              {{ genero.nomeGenero || genero }}<span *ngIf="!last">, </span>
            </span>
          </p>
        </td>
        <td>
          <p class="card-text">
            <span *ngFor="let plataforma of jogo.plataformas; let last = last">
              {{ plataforma.nomePlataforma || plataforma
              }}<span *ngIf="!last">, </span>
            </span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div
    class="modal fade"
    [class.show]="mostrarModal"
    [style.display]="mostrarModal ? 'block' : 'none'"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalAdicionarLabel"
    aria-modal="true"
    [attr.aria-hidden]="!mostrarModal"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAdicionarLabel">Adicionar Jogo</h5>
          <button
            type="button"
            class="btn-close"
            (click)="fecharModal()"
            aria-label="Fechar"
          ></button>
        </div>

        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="adicionarJogo()">
            <!-- Campos básicos -->
            <div class="mb-2">
              <label>Nome do Jogo</label>
              <input class="form-control" formControlName="nomeJogo" />
            </div>

            <div class="mb-2">
              <label>Sinopse</label>
              <input class="form-control" formControlName="sinopseJogo" />
            </div>

            <div class="mb-2">
              <label>Imagem (URL)</label>
              <input class="form-control" formControlName="imagemJogo" />
            </div>

            <div class="mb-2">
              <label>Data de Lançamento</label>
              <input
                type="date"
                class="form-control"
                formControlName="dataLancamentoJogo"
              />
            </div>

            <div class="mb-2">
              <label>Distribuidora</label>
              <input class="form-control" formControlName="nomeDistribuidora" />
            </div>

            <div class="mb-2">
              <label>Desenvolvedora</label>
              <input
                class="form-control"
                formControlName="nomeDesenvolvedora"
              />
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">
              Adicionar Jogo
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal-backdrop fade show"
    *ngIf="mostrarModal || mostrarModalEditar"
  ></div>

  <div
    class="modal fade"
    [class.show]="mostrarModalEditar"
    [style.display]="mostrarModalEditar ? 'block' : 'none'"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalEditarLabel"
    aria-modal="true"
    [attr.aria-hidden]="!mostrarModalEditar"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarLabel">Infos/Edição Jogo</h5>
          <button
            type="button"
            class="btn-close"
            (click)="fecharModalEditar()"
            aria-label="Fechar"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
