<div class="container mt-4">
    <h1 class="text-center text-dark mb-5">Administração</h1>
  
    <section class="mb-5">
      <h2 class="text-dark text-center mb-4">Gerenciar Usuários</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Apelido</th>
            <th>Email</th>
            <th>Permissão</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <!-- Exemplo de dados -->
          <tr>
            <td>EX: 1</td>
            <td>EX: Joao123</td>
            <td>EX: joao&#64;email.com</td>
            <td>EX: Admin</td>
            <td>
              <button class="btn btn-warning btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  
    <section class="mb-5">
      <h2 class="text-dark text-center mb-4">Gerenciar Jogos</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Plataforma</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <!-- Exemplo de dados -->
          <tr>
            <td>1</td>
            <td>God of War</td>
            <td>Ação</td>
            <td>PlayStation</td>
            <td>
              <button class="btn btn-warning btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>