<div class="d-flex flex-column" style="min-height: 100vh">
  <div
    class="container flex-grow-1 d-flex justify-content-center align-items-center"
  >
    <div class="card p-4" style="width: 100%; max-width: 400px">
      <h2 class="text-center mb-4">REGISTRAR</h2>
      <form (ngSubmit)="OnSubmit()">
        <!-- Campo Email -->
        <div class="mb-3">
          <label class="form-label">Email*</label>
          <input
            type="email"
            class="form-control"
            placeholder="Digite seu email"
            required
            [(ngModel)]="emailUsuario"
            name="emailUsuario"
          />
        </div>

        <!-- Campo Usuário -->
        <div class="mb-3">
          <label class="form-label">Usuário*</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite seu nome de usuário"
            required
            [(ngModel)]="nomeUsuario"
            name="nomeUsuario"
          />
        </div>

        <!-- Campo Apelido -->
        <div class="mb-3">
          <label class="form-label">Apelido*</label>
          <input
            type="text"
            class="form-control"
            placeholder="Como quer ser chamado?"
            [(ngModel)]="apelidoUsuario"
            name="apelidoUsuario"
          />
          <div class="form-text font-italic">Máx. 15 caracteres</div>
        </div>

        <!-- Campo Senha -->
        <div class="mb-3">
          <label class="form-label">Senha*</label>
          <input
            type="password"
            class="form-control"
            maxlength="10"
            placeholder="Crie uma senha forte"
            required
            [(ngModel)]="senhaUsuario"
            name="senhaUsuario"
          />
        </div>

        <!-- Campo confirmar senha -->
        <div class="mb-3">
          <label class="form-label">Confirmar Senha*</label>
          <input
            type="password"
            class="form-control"
            maxlength="10"
            placeholder="Confirme a senha"
            required
            [(ngModel)]="confirmarSenha"
            name="confirmarSenha"
          />
        </div>

        <!-- Botão -->
        <div class="d-grid gap-2 mt-2">
          <button type="submit" class="btn btn-primary py-2">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
