<div class="container mt-4">
  <h1 class="text-center text-dark mb-5">Administração</h1>

  <div class="AlternarOp">
      <select name="" class="Selecionar">
          <option value="">Gerenciar Usuários</option>
          <option value="">Gerenciar Jogos</option>
      </select>
  </div>
  
  <table class="table mt-4 table-striped table-bordered">
      <thead>
          <tr>
              <th class="col-md-1">Nome</th>
              <th class="col-md-2">Descrição</th>
              <th class="col-md-1">Data</th>
              <th class="col-md-1">Modo</th>
              <th class="col-md-1">Genero</th>
              <th class="col-md-2">Plataforma</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Nome</td>
              <td>desc</td>
              <td>data</td>
              <td>modo</td>
              <td>genero</td>
              <td>plataformaf</td>
          </tr>
      </tbody>
  </table>
</div>

      
