<footer class="bg-body-tertiary text-center text-lg-start">
    <div class="container p-4 d-flex justify-content-center ">
        <div class="row">
        <!-- Coluna de Links -->
        <div class="col-lg-8 col-md-12 mb-4 mb-md-0 text-nowrap">
          <h5 class="text-uppercase">Links Úteis</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/" class="text-decoration-none">Página Inicial</a>
            </li>
            <li>
              <a href="/sobre" class="text-decoration-none">Sobre</a>
            </li>
            <li>
              <a href="/contato" class="text-decoration-none">Contato</a>
            </li>
            <li>
              <a href="/ajuda" class="text-decoration-none">Ajuda</a>
            </li>
          </ul>
        </div>
  
        <!-- Coluna de Contato -->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-nowrap">
          <h5 class="text-uppercase">Contato</h5>
          <ul class="list-unstyled">
            <li>
              <p class="mb-0"><i class="bi bi-envelope"></i> Email: contato&#64;mygamelist.com</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3 bg-dark text-light">
      © 2025 MYGAMELIST - Todos os direitos reservados.
    </div>
  </footer>