<footer class="bg-body-tertiary text-center text-lg-start mt-auto">
  <div class="container p-4">
    <div class="row justify-content-between">
      <!-- Links Úteis -->
      <div class="col-md-4 mb-4 mb-md-0 text-start">
        <h5 class="text-uppercase mb-3">Links Úteis</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="/" class="text-decoration-none">Página Inicial</a>
          </li>
          <li class="mb-2">
            <a href="/sobre" class="text-decoration-none">Sobre</a>
          </li>
          <li class="mb-2">
            <a href="/contato" class="text-decoration-none">Contato</a>
          </li>
          <li class="mb-2">
            <a href="/ajuda" class="text-decoration-none">Ajuda</a>
          </li>
        </ul>
      </div>

      <!-- Contato -->
      <div class="col-md-4 mb-4 mb-md-0 text-start">
        <h5 class="text-uppercase mb-3">Contato</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <i class="bi bi-envelope me-2"></i>
            <span>contato&#64;mygamelist.com</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3 bg-dark text-light">
    © 2025 Eduardo Fernandes - Todos os direitos reservados.
  </div>
</footer>