<div class="d-flex flex-column" style="min-height: 100vh">
  <!-- Área de erros fixa no topo -->
  <div
    *ngIf="errorMessage"
    class="alert alert-danger text-center top-0 start-50 m-2"
    style="
      z-index: 1000;
      width: fit-content;
      border-radius: 8px;
      transition: opacity 0.3s ease;
    "
  >
    {{ errorMessage }}
  </div>

  <div
    class="container flex-grow-1 d-flex justify-content-center align-items-center"
  >
    <div class="card p-4" style="width: 100%; max-width: 400px">
      <h2 class="text-center mb-4">LOGIN</h2>

      <form (ngSubmit)="autenticarLogin()">
        <div class="mb-3">
          <label class="form-label">Usuário</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite seu usuário ou email"
            name="username"
            [(ngModel)]="username"
            required="true"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input
            type="password"
            class="form-control"
            maxlength="10"
            placeholder="Digite sua senha"
            name="password"
            [(ngModel)]="password"
            required="true"
          />
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
