<div class="d-flex flex-column" style="min-height: 100vh">
  <div
    class="container flex-grow-1 d-flex justify-content-center align-items-center"
  >
    <div class="card p-4" style="width: 100%; max-width: 400px">
      <h2 class="text-center mb-4">LOGIN</h2>

      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Usuário</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite seu usuário ou email"
            name="login"
            [ngModel] = "login"
            required="true"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input
            type="password"
            class="form-control"
            maxlength="10"
            placeholder="Digite sua senha"
            name="password"
            [ngModel] = "password"
            required="true"
          />
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="lembrarUsuario" />
          <label class="form-check-label" for="lembrarUsuario"
            >Lembrar minhas informações</label
          >
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
