<div class="home-container mt-4">
  <h1 class="home-title">Bem-vindo ao MyGameList</h1>

  <section class="home-section">
    <h2 class="comentario-title">Comentários mais Recentes</h2>
    <div
      *ngIf="comentarios.length > 0; else semComentarios"
      class="comentario-row"
    >
      <div *ngFor="let comentario of comentarios" class="comentario-card">
        <div class="comentario-jogo">
          <span
            >Jogo: <b>{{ comentario.nomeJogo }}</b></span
          >
        </div>
        <div class="comentario-header">
          <span class="comentario-user">{{ comentario.apelidoUsuario }}</span>
          <span class="comentario-data">{{
            comentario.dataEnvioComentario
          }}</span>
        </div>
        <div class="comentario-texto">
          {{ comentario.comentarioUsuario }}
        </div>
        <span class="comentario-nota"
            >Nota: {{ comentario.notaUsuario }}</span
          >
      </div>
    </div>
    <ng-template #semComentarios>
      <p class="text-center text-muted">Nenhum comentário recente.</p>
    </ng-template>
  </section>

  <!-- Ranking (Top 5) -->
  <section class="home-section">
    <h2 class="topfive-title">Ranking - Top 5</h2>
    <div *ngIf="jogos.length > 0" class="topfive-row">
      <div
        *ngFor="let jogo of jogos; trackBy: trackBySlug"
        class="home-card-container"
      >
        <app-game-card
          [jogo]="jogo"
          [routerLink]="['/info', toSlug(jogo.nomeJogo)]"
          tipo="default"
        ></app-game-card>
      </div>
    </div>
  </section>
</div>
