<div class="category-container">
  <h1 class="category-title">Categorias</h1>

  <div class="category-sections-wrapper">
    <div class="category-section">
      <h2>Gêneros</h2>
      <div class="category-card-row">
        <div
          class="category-card"
          *ngFor="let genero of generos | slice : 0 : generosVisiveis"
          (click)="verJogosPorCategoria('generos', genero.nomeGenero)"
        >
          <span>{{ genero.nomeGenero }}</span>
        </div>
      </div>
      <button
        *ngIf="generos.length > generosVisiveis"
        (click)="carregarMaisGeneros()"
        class="btn-carregar-mais"
      >
        Carregar mais
      </button>
    </div>

    <div class="category-section">
      <h2>Modos de Jogo</h2>
      <div class="category-card-row">
        <div
          class="category-card"
          *ngFor="let modo of modos | slice : 0 : modosVisiveis"
          (click)="verJogosPorCategoria('modos', modo.nomeModo)"
        >
          <span>{{ modo.nomeModo }}</span>
        </div>
      </div>
      <button
        *ngIf="modos.length > modosVisiveis"
        (click)="carregarMaisModos()"
        class="btn-carregar-mais"
      >
        Carregar mais
      </button>
    </div>

    <div class="category-section">
      <h2>Plataformas</h2>
      <div class="category-card-row">
        <div
          class="category-card"
          *ngFor="
            let plataforma of plataformas | slice : 0 : plataformasVisiveis
          "
          (click)="
            verJogosPorCategoria('plataformas', plataforma.nomePlataforma)
          "
        >
          <span>{{ plataforma.nomePlataforma }}</span>
        </div>
      </div>
      <button
        *ngIf="plataformas.length > plataformasVisiveis"
        (click)="carregarMaisPlataformas()"
        class="btn-carregar-mais"
      >
        Carregar mais
      </button>
    </div>
  </div>
</div>
