<div class="container-fluid mt-4">
  <div class="row g-0">
    <!-- Sidebar -->
    <div class="col-lg-3 p-4">
      <div class="d-flex flex-column align-items-center text-center">
        <img
          src="https://th.bing.com/th/id/R.5d9cd68cd30fe47d4b9db5efad1d879f?rik=Ckskjjv9dzY3%2bA&pid=ImgRaw&r=0"
          alt="Foto do usuário"
          class="profile-picture rounded-circle mb-3 shadow"
        />
        <h2 class="mb-1">Carlos Gamer</h2>
      </div>

      <div class="mb-4">
        <div class="d-flex justify-content-between py-2 border-bottom">
          <span class="fw-bold">Desde</span>
          <span>2010</span>
        </div>
      </div>
    </div>

    <div class="col-lg-9 p-4">
      <!-- Biblioteca de Jogos -->
      <h3 class="section-title mb-4">
        Biblioteca de Jogos<span id="Span/"> / </span
        ><a href="http://localhost:4200/perfil">Jogando</a>
        <span id="Span/"> / </span>
        <a href="http://localhost:4200/perfil"> Completo </a>
        <span id="Span/"> / </span>
        <a href="http://localhost:4200/perfil"> Abandonado </a>
        <span id="Span/"> / </span>
        <a href="http://localhost:4200/perfil"> Pausado</a>
        <span id="Span/"> / </span>
        <a href="http://localhost:4200/perfil"> Desejo</a>
      </h3>
      <div class="perfil-row">
        <div
          class="perfil-card-container"
          *ngFor="let jogo of jogos; trackBy: trackBySlug"
        >
          <app-game-card
            [jogo]="jogo"
            [routerLink]="['/info', toSlug(jogo.nomeJogo)]"
            tipo="default"
          ></app-game-card>
        </div>
      </div>

      <!-- Próximos Lançamentos -->
      <h3 class="section-title mb-4">Favoritos</h3>
      <div class="row g-4">
        <div class="col-md-6 col-lg-4">
          <div class="game-card card h-100 shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Starfield</h5>
              <p class="card-text text-muted mb-1">Plataforma: PC/Xbox</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="game-card card h-100 shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Spider-Man 2</h5>
              <p class="card-text text-muted mb-1">Plataforma: PS5</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="game-card card h-100 shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Final Fantasy XVI</h5>
              <p class="card-text text-muted mb-1">Plataforma: PS5</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
